/*Enable mobile menu*/
#startMobileMenu {
  background: $contactp;
  border:1px solid;
  border-radius: 5px;
  width: 40px;
  height: 40px;


  li {
    list-style-type: none;
    height: 4px;
    background: black;
    width: 20px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 4px;
    border-radius:10px;
    background: $white;

    &:first-child {
      margin-top: 9px;
    }

  }

  @media (min-width:$screen-sm-min) {
    display: none!important;
  }
}

.mobileMenu {


  li {
    background: $white;
  }
}